* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: white;
  width: 100%;
  height: 850px;
}
header .header_nav {
  width: calc(100% - 170px);
  height: 80px;
  margin-left: 170px;
}
header .header_nav .logo {
  width: 28.5%;
  height: 100%;
  float: left;
  display: flex;
}
header .header_nav .logo img {
  width: 160px;
  height: 25px;
  align-self: center;
  cursor: pointer;
}
header .header_nav .navbar {
  width: 47.3%;
  height: 100%;
  float: left;
}
header .header_nav .navbar ul {
  display: flex;
  height: 100%;
  font-size: 16px;
}
header .header_nav .navbar ul li {
  align-self: center;
  padding-right: 50px;
  font-weight: 600;
}
header .header_nav .navbar ul a {
  color: #514D73;
  font-weight: 500;
}
header .header_nav .navbar ul i {
  font-size: 10px;
  margin-left: 5px;
}
header .header_nav .language {
  width: 11.9%;
  height: 100%;
  float: left;
  display: flex;
}
header .header_nav .language img {
  align-self: center;
  padding: 0 16px;
  cursor: pointer;
}
header .header_nav .language span {
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}
header .header_nav .language a {
  display: flex;
  color: #55543B;
}
header .header_nav .language a i {
  font-size: 10px;
  margin-left: 8px;
  align-self: center;
}
header .header_nav .language i {
  align-self: center;
  font-size: 18px;
  color: #55543B;
}
header .header_nav .search {
  width: 12.3%;
  height: 100%;
  float: left;
}
header .header_nav .search input {
  width: calc(100% - 46px);
  height: 100%;
  box-sizing: border-box;
  border-width: 0px;
  border-left: 1px solid #ccc;
  font-size: 16px;
  padding: 0 22px;
}
header .header_nav .search input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
header .header_nav .search i {
  font-size: 16px;
  cursor: pointer;
}
header .jumbotron {
  background: #EFF2F6;
  width: 100%;
  height: 770px;
  overflow: hidden;
}
header .jumbotron .new_challenges {
  width: 50%;
  height: 100%;
  float: left;
  padding: 185px 90px 0 375px;
}
header .jumbotron .new_challenges h2 {
  font-weight: 500;
  font-size: 22px;
  color: #2DB19C;
  margin-bottom: 20px;
}
header .jumbotron .new_challenges p:first-of-type {
  color: #333434;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 24px;
}
header .jumbotron .new_challenges p:last-of-type {
  color: #595959;
  font-size: 17.5px;
  font-weight: 500;
  margin-bottom: 37px;
}
header .jumbotron .new_challenges button {
  background: #2DB19C;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  width: 200px;
  height: 52px;
}
header .jumbotron .new_challenges button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
header .jumbotron .new_challenges button:hover {
  background: #3F3A64;
  color: white;
}
header .jumbotron .jumbotron_img {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}
header .jumbotron .jumbotron_img img:first-child {
  transform: rotate(280deg);
}
header .jumbotron .jumbotron_img img:last-child {
  position: absolute;
  top: 53%;
  left: 35%;
  transform: translate(-50%, -50%);
}

main .main1 {
  width: 100%;
  height: 935px;
  text-align: center;
  padding: 120px 0 97px;
}
main .main1 h2 {
  font-weight: 500;
  font-size: 22px;
  color: #2DB19C;
  margin-bottom: 20px;
  margin-bottom: 30px;
}
main .main1 p.subtitle {
  display: inline-block;
  width: 52.6%;
  margin: 0 auto;
  padding: 0 12px;
  color: #333434;
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 40px;
}
main .main1 .lets_dream_box_x6 {
  width: 61.5%;
  height: 340px;
  margin: 0 auto 80px;
  text-align: left;
}
main .main1 .lets_dream_box_x6 .box_x6 {
  width: calc(100% / 3);
  height: calc(100% / 2);
  float: left;
  padding-top: 35px;
}
main .main1 .lets_dream_box_x6 .box_x6 img {
  float: left;
}
main .main1 .lets_dream_box_x6 .box_x6 .box_inside {
  width: 80%;
  height: 100%;
  float: right;
  padding: 0px 17px;
}
main .main1 .lets_dream_box_x6 .box_x6 h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 22px;
}
main .main1 .lets_dream_box_x6 .box_x6 p {
  font-size: 13.5px;
  color: #717171;
}
main .main1 button {
  background: #2DB19C;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  width: 200px;
  height: 52px;
  margin: 0 13px;
}
main .main1 button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
main .main1 button:hover {
  background: #3F3A64;
  color: white;
}
main .main1 button.white {
  background: white;
  color: #2DB19C;
  border: 2px solid #EEEEEE;
}
main .main1 button.white:hover {
  background: #3F3A64;
  color: white;
  border: 2px solid #3F3A64;
}
main .main2 {
  background: #F8F8F8;
  width: 100%;
  height: 920px;
  text-align: center;
  padding: 120px 0 97px;
}
main .main2 h2 {
  font-weight: 500;
  font-size: 22px;
  color: #2DB19C;
  margin-bottom: 20px;
  margin-bottom: 15px;
}
main .main2 p.subtitle {
  display: inline-block;
  width: 52.6%;
  margin: 0 auto;
  padding: 0 12px;
  color: #333434;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
}
main .main2 .box_explore3 {
  width: 61.5%;
  height: 470px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}
main .main2 .box_explore3 .inside_box_explore3 {
  background: white;
  width: 31.7%;
  height: 100%;
  float: left;
  border-radius: 5px;
  box-shadow: 0px 5px 50px 2px lightgray;
  overflow: hidden;
}
main .main2 .box_explore3 .inside_box_explore3 img {
  width: 100%;
}
main .main2 .box_explore3 .inside_box_explore3 .text_inside_box_explore3 {
  width: 100%;
  height: 155px;
  border-bottom: 1px solid #EEEEEE;
}
main .main2 .box_explore3 .inside_box_explore3 .text_inside_box_explore3 h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
}
main .main2 .box_explore3 .inside_box_explore3 .text_inside_box_explore3 p {
  font-size: 13.5px;
  color: #717171;
  padding: 0 40px;
  margin-top: 10px;
  line-height: 28px;
}
main .main2 .box_explore3 .inside_box_explore3 a {
  display: inline-block;
  width: 100%;
  height: 58px;
  line-height: 58px;
  vertical-align: middle;
  color: #2DB19C;
  font-size: 12px;
  font-weight: 700;
}
main .main2 .box_explore3 .inside_box_explore3 a:hover {
  background: #2DB19C;
  color: white;
}
main .main2 .box_explore3 .inside_box_explore3 a i {
  margin-left: 10px;
  font-size: 11px;
}
main .main2 .circle_slider {
  height: 20px;
  width: 300px;
  margin: 25px auto;
}
main .main2 .circle_slider i:first-child {
  color: black;
  font-size: 13px;
}
main .main2 .circle_slider i {
  display: inline-block;
  margin-left: 15px;
  color: #D9D9D9;
  font-size: 9px;
  cursor: pointer;
}
main .main3 {
  width: 100%;
  height: 1035px;
  text-align: center;
  padding: 120px 0 97px;
}
main .main3 h2 {
  font-weight: 500;
  font-size: 22px;
  color: #2DB19C;
  margin-bottom: 20px;
  margin-bottom: 15px;
}
main .main3 p.subtitle {
  display: inline-block;
  width: 52.6%;
  margin: 0 auto;
  padding: 0 12px;
  color: #333434;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
}
main .main3 .box_explore4 {
  width: 85.3%;
  height: 520px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
main .main3 .box_explore4 .inside_box_explore4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 23.6%;
  height: 100%;
  float: left;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
main .main3 .box_explore4 .inside_box_explore4:hover .text_inside_box_explore4 .card_main3_on_hover {
  display: block;
}
main .main3 .box_explore4 .inside_box_explore4:hover .text_inside_box_explore4 span.hide, main .main3 .box_explore4 .inside_box_explore4:hover .text_inside_box_explore4 p.hide {
  display: none;
}
main .main3 .box_explore4 .inside_box_explore4:hover .text_inside_box_explore4 {
  height: 73.5%;
}
main .main3 .box_explore4 .inside_box_explore4 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  width: 100%;
  height: 50%;
  padding: 125px 30px 30px;
  text-align: left;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 span, main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 span.hide {
  font-size: 25px;
  font-weight: 700;
  color: #2DB19C;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 span span, main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 span span.hide, main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 span.hide span, main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 span.hide span.hide {
  font-size: 18px;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 p {
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 i {
  color: white;
  margin-bottom: 15px;
  margin-right: 30px;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 i span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 p.hover {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 100px;
}
main .main3 .box_explore4 .inside_box_explore4 .text_inside_box_explore4 .card_main3_on_hover {
  display: none;
  height: 100%;
  width: 100%;
}
main .main3 p.end_main3 {
  width: 32%;
  margin: 55px auto 0;
  color: #6F6F6F;
  font-weight: 500;
}
main .main3 p.end_main3 a {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}
main .main3 p.end_main3 a:hover {
  color: #2DB19C;
}
main .main4 {
  background: #323043;
  width: 100%;
  height: 835px;
  position: relative;
  color: white;
}
main .main4 img:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
}
main .main4 img:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(39.2%, -10%);
}
main .main4 .player {
  width: 34.9%;
  height: 450px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-114.8%, -48%);
  border-radius: 5px;
  overflow: hidden;
}
main .main4 .player img:first-of-type {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .main4 .player img:last-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
main .main4 .a_good_plan {
  width: 30%;
  height: 610px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(2.2%, -121%);
}
main .main4 .a_good_plan h2 {
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 45px;
  line-height: 50px;
}
main .main4 .a_good_plan h3 {
  font-size: 25px;
  font-weight: 600;
}
main .main4 .a_good_plan h3:first-of-type {
  color: #2DB19C;
  margin-bottom: 20px;
}
main .main4 .a_good_plan i {
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}
main .main4 .a_good_plan p {
  margin-left: 45px;
  font-size: 14.5px;
  line-height: 30px;
}
main .main4 .a_good_plan p {
  margin-bottom: 20px;
}
main .main4 .a_good_plan h3:nth-of-type(2) {
  padding: 20px 0;
  border-top: 2px solid #474556;
}
main .main4 .a_good_plan h3:last-of-type {
  padding: 20px 0;
  border-top: 2px solid #474556;
  border-bottom: 2px solid #474556;
}
main .main5 {
  position: relative;
  width: 100%;
  height: 1075px;
  padding: 100px 0 97px;
  text-align: center;
}
main .main5 img {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #F8F8F8;
  z-index: -1;
}
main .main5 h2 {
  font-weight: 500;
  font-size: 22px;
  color: #2DB19C;
  margin-bottom: 20px;
  margin-bottom: 15px;
}
main .main5 p.subtitle {
  display: inline-block;
  width: 52.6%;
  margin: 0 auto;
  padding: 0 12px;
  color: #333434;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 60px;
}
main .main5 .events_boxes {
  width: 61.5%;
  height: 560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
main .main5 .events_boxes .event {
  background: #F8F8F8;
  width: 48.6%;
  height: 170px;
  border-radius: 5px;
  padding: 30px;
}
main .main5 .events_boxes .event:hover {
  background: white;
  border-left: 4px solid #2DB19C;
  box-shadow: 0px 5px 50px 2px lightgray;
}
main .main5 .events_boxes .event:hover .date_event button {
  background: #3F3A64;
  color: white;
}
main .main5 .events_boxes .event .info_event {
  width: 73%;
  height: 100%;
  float: left;
  text-align: left;
}
main .main5 .events_boxes .event .info_event i {
  color: #7E7E7E;
}
main .main5 .events_boxes .event .info_event span {
  color: #7E7E7E;
  font-size: 14px;
  margin-left: 7px;
}
main .main5 .events_boxes .event .info_event p {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin-top: 10px;
}
main .main5 .events_boxes .event .date_event {
  width: calc(100% - 73%);
  height: 100%;
  float: right;
}
main .main5 .events_boxes .event .date_event span {
  display: block;
}
main .main5 .events_boxes .event .date_event span:first-of-type {
  margin: -15px 0 15px;
  height: 40%;
  font-size: 50px;
  color: #2DB19C;
}
main .main5 .events_boxes .event .date_event span:last-of-type {
  font-weight: 600;
  margin-bottom: 5px;
}
main .main5 .events_boxes .event .date_event button {
  background: #2DB19C;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  width: 100%;
  height: 33px;
}
main .main5 .events_boxes .event .date_event button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
main .main5 .events_boxes .event .date_event button:hover {
  background: #3F3A64;
  color: white;
}
main .main5 p {
  margin-top: 60px;
  color: #696969;
  font-weight: 500;
  font-size: 17px;
}
main .main5 p a {
  color: #2DB19C;
  font-weight: 700;
  text-decoration: underline;
}
