*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  // background: orange;
}
.clearfix{
  @include clearfix;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.box{
  
}
