header{
  background: white;
  width: 100%;
  height: 850px;

  .header_nav{
    width: calc(100% - 170px);
    height: 80px;
    margin-left: 170px;

    .logo{
      width: 28.5%;
      height: 100%;
      float: left;
      display: flex;
      img{
        width: 160px;
        height: 25px;
        align-self: center;
        cursor: pointer;
      }
    }
    .navbar{
      width: 47.3%;
      height: 100%;
      float: left;
      ul{
        display: flex;
        height: 100%;
        font-size: 16px;
        li{
          align-self: center;
          padding-right: 50px;
          font-weight: 600;
          position: relative;
        }
        a{
          color: #514D73;
          font-weight: 500;
        }
        i{
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
    .language{
      width: 11.9%;
      height: 100%;
      float: left;
      display: flex;
      img{
        align-self: center;
        padding: 0 16px;
        cursor: pointer;
      }
      span{
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        margin-right: 20px;
      }
      a{
        display: flex;
        color: #55543B;
        i{
          font-size: 10px;
          margin-left: 8px;
          align-self: center;
        }
      }
      i{
        align-self: center;
        font-size: 18px;
        color: #55543B;
      }
    }
    .search{
      width: 12.3%;
      height: 100%;
      float: left;
      input{
        width: calc(100% - 46px);
        height: 100%;
        border-width: 0px;
        border-left: 1px solid #ccc;
        font-size: 16px;
        padding: 0 22px;
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }
      i{
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .jumbotron{
    background: #EFF2F6;
    width: 100%;
    height: 770px;
    overflow: hidden;

    .new_challenges{
      width: 50%;
      height: 100%;
      float: left;
      padding: 185px 90px 0 375px;
      h2{
        @include sectionGreenTitle;
      }
      p:first-of-type{
        color: #333434;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 55px;
        margin-bottom: 24px;
      }
      p:last-of-type{
        color: #595959;
        font-size: 17.5px;
        font-weight: 500;
        margin-bottom: 37px;
      }
      button{
        @include buttonGreen;
        width: 200px;
        height: 52px;
      }
    }
    .jumbotron_img{
      width: 50%;
      height: 100%;
      float: left;
      position: relative;
      img:first-child{
        animation-name: spin;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes spin{
        0%{
          transform: rotate(360deg);
        }
      }
      img:last-child{
        position: absolute;
        top: 53%;
        left: 35%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

//queries__________________________________________________________________________________________________________________________________________________________



@media screen and (min-width: 1000px) and (max-width: 1179px) {

  // navbar
  header .header_nav {
    width: calc(100% - 85px);
    margin-left: 85px;
  }
  header .header_nav .logo {
    width: 21%;
  }
  header .header_nav .navbar ul li {
    padding-right: 12px;
  }
  header .header_nav .navbar ul {
    font-size: 14px;
  }
  header .header_nav .language {
    width: 17.9%;
  }
  header .header_nav .language img {
    height: 14px;
  }
  header .header_nav .language span {
    font-size: 14px;
    margin-right: 11px;
  }
  header .header_nav .search {
    width: 13.3%;
  }
  header .header_nav .search input {
    width: calc(100% - 27px);
    font-size: 14px;
    padding: 0 19px;
  }
  header .header_nav .search i {
    font-size: 14px;
    margin-left: 0px;
  }
  // fine_navbar

  // jumbotron
  header .jumbotron .new_challenges {
    padding: 115px 0px 0 111px;
  }
  header .jumbotron .jumbotron_img img:last-child {
    top: 55%;
    left: 56%;
    width: 560px;
  }
  // fine_jumbotron


}


@media screen and (min-width: 1180px) and (max-width: 1419px) {

  // navbar
  header .header_nav {
    width: calc(100% - 100px);
    margin-left: 100px;
  }
  header .header_nav .logo {
    width: 21%;
  }
  header .header_nav .navbar ul {
    font-size: 15px;
  }
  header .header_nav .navbar ul li {
    padding-right: 20px;
  }
  header .header_nav .language {
    width: 17.9%;
  }
  header .header_nav .language img {
    height: 14px;
  }
  header .header_nav .language span {
    font-size: 14px;
    margin-right: 11px;
  }
  header .header_nav .search {
    width: 13.3%;
  }
  header .header_nav .search input {
    width: calc(100% - 27px);
    font-size: 14px;
    padding: 0 19px;
  }
  header .header_nav .search i {
    font-size: 14px;
    margin-left: 0px;
  }
  // fine_navbar

  // jumbotron
  header .jumbotron .new_challenges {
    padding: 180px 0px 0 140px;
  }
  header .jumbotron .jumbotron_img img:last-child {
    top: 55%;
    left: 56%;
    width: 560px;
  }
  // fine_jumbotron

}


@media screen and (min-width: 1420px) and (max-width: 1919px) {

  // navbar
  header .header_nav {
    width: calc(100% - 140px);
    margin-left: 140px;
  }
  header .header_nav .logo {
    width: 21%;
  }
  header .header_nav .navbar ul {
    font-size: 16px;
  }
  header .header_nav .navbar ul li {
    padding-right: 25px;
  }
  header .header_nav .language {
    width: 17.9%;
  }
  header .header_nav .language img {
    height: 14px;
  }
  header .header_nav .language span {
    font-size: 14px;
    margin-right: 11px;
  }
  header .header_nav .search {
    width: 13.3%;
  }
  header .header_nav .search input {
    width: calc(100% - 27px);
    font-size: 14px;
    padding: 0 19px;
  }
  header .header_nav .search i {
    font-size: 14px;
    margin-left: 0px;
  }
  // fine_navbar

  // jumbotron
  header .jumbotron .new_challenges {
    padding: 224px 0px 0 275px;
  }
  header .jumbotron .jumbotron_img img:last-child {
    top: 55%;
    left: 56%;
    width: 560px;
  }
  // fine_jumbotron

}
