header{
  background: white;
  width: 100%;
  height: 850px;

  .header_nav{
    width: calc(100% - 170px);
    height: 80px;
    margin-left: 170px;

    .logo{
      width: 28.5%;
      height: 100%;
      float: left;
      display: flex;
      img{
        width: 160px;
        height: 25px;
        align-self: center;
        cursor: pointer;
      }
    }
    .navbar{
      width: 47.3%;
      height: 100%;
      float: left;
      ul{
        display: flex;
        height: 100%;
        font-size: 16px;
        li{
          align-self: center;
          padding-right: 50px;
          font-weight: 600;
        }
        a{
          color: #514D73;
          font-weight: 500;
        }
        i{
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
    .language{
      width: 11.9%;
      height: 100%;
      float: left;
      display: flex;
      img{
        align-self: center;
        padding: 0 16px;
        cursor: pointer;
      }
      span{
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        margin-right: 20px;
      }
      a{
        display: flex;
        color: #55543B;
        i{
          font-size: 10px;
          margin-left: 8px;
          align-self: center;
        }
      }
      i{
        align-self: center;
        font-size: 18px;
        color: #55543B;
      }
    }
    .search{
      width: 12.3%;
      height: 100%;
      float: left;
      input{
        width: calc(100% - 46px);
        height: 100%;
        border-width: 0px;
        border-left: 1px solid #ccc;
        font-size: 16px;
        padding: 0 22px;
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }
      i{
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .jumbotron{
    background: #EFF2F6;
    width: 100%;
    height: 770px;
    overflow: hidden;

    .new_challenges{
      width: 50%;
      height: 100%;
      float: left;
      padding: 185px 90px 0 375px;
      h2{
        @include sectionGreenTitle;
      }
      p:first-of-type{
        color: #333434;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 55px;
        margin-bottom: 24px;
      }
      p:last-of-type{
        color: #595959;
        font-size: 17.5px;
        font-weight: 500;
        margin-bottom: 37px;
      }
      button{
        @include buttonGreen;
        width: 200px;
        height: 52px;
      }
    }
    .jumbotron_img{
      width: 50%;
      height: 100%;
      float: left;
      position: relative;
      img:first-child{
        transform: rotate(280deg);
      }
      img:last-child{
        position: absolute;
        top: 53%;
        left: 35%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
