header{
  background: white;
  width: 100%;
  height: 850px;

  .header_top{
    width: calc(100% - 170px);
    height: 80px;
    margin-left: 170px;

    .logo{
      width: 495px;
      height: 100%;
      float: left;
      display: flex;
      img{
        width: 160px;
        height: 25px;
        align-self: center;
        cursor: pointer;
      }
    }
    .navbar{
      width: 820px;
      height: 100%;
      float: left;
      ul{
        display: flex;
        height: 100%;
        font-size: 15px;
        li{
          align-self: center;
          padding-right: 50px;
          font-weight: 600;
        }
        a{
          color: #9A9793;
        }
        i{
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
    .language{
      width: 205px;
      height: 100%;
      float: left;
      display: flex;
      img{
        align-self: center;
        padding: 0 16px;
        cursor: pointer;
      }
      span{
        align-self: center;
        font-weight: 800;
        font-size: 16px;
        margin-right: 20px;
      }
      a{
        display: flex;
        color: #55543B;
        i{
          font-size: 10px;
          margin-left: 8px;
          align-self: center;
        }
      }
      i{
        align-self: center;
        font-size: 18px;
        color: #55543B;
      }
    }
    .search{
      width: 230px;
      height: 100%;
      float: left;
      input{
        width: calc(100% - 46px);
        height: 100%;
        box-sizing: border-box;
        border-width: 0px;
        border-left: 1px solid #ccc;
        font-size: 16px;
        padding: 0 22px;
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }
      i{
        font-size: 16px;
        padding: 0 13px;
        cursor: pointer;
      }
    }
  }

  .header_jumbotron{
    background: #EFF2F6;
    width: 100%;
    height: 770px;
  }
}
