main{

  // main1
  .main1{
    width: 100%;
    height: 935px;
    text-align: center;
    padding: 120px 0 97px;
    h2{
      @include sectionGreenTitle;
      margin-bottom: 30px;
    }
    p.subtitle{
      display: inline-block;
      width: 52.6%;
      margin: 0 auto;
      padding: 0 12px;
      color: #333434;
      font-size: 31px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .lets_dream_box_x6{
      width: 61.5%;
      height: 340px;
      margin: 0 auto 80px;
      text-align: left;

      .box_x6{
        @include boxX6LetsDream;
        h3{
          text-transform: capitalize;
          font-weight: 600;
          font-size: 22px;
        }
        p{
          font-size: 13.5px;
          color: #717171;
        }
        img{
          // width: 20%; per le queries
        }
      }
    }
    button{
      @include buttonGreen;
      width: 200px;
      height: 52px;
      margin: 0 13px;
    }
    button.white{
      background: white;
      color: #2DB19C;
      border: 2px solid #EEEEEE;
      &:hover{
        background: #3F3A64;
        color: white;
        border: 2px solid #3F3A64;
      }
    }
  }
  // fine_main1

  // main2
  .main2{
    background: #F8F8F8;
    width: 100%;
    height: 920px;
    text-align: center;
    padding: 120px 0 97px;
    h2{
      @include sectionGreenTitle;
      margin-bottom: 15px;
    }
    p.subtitle{
      display: inline-block;
      width: 52.6%;
      margin: 0 auto;
      padding: 0 12px;
      color: #333434;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .box_explore3{
      width: 61.5%;
      height: 470px;
      margin: 25px auto;
      display: flex;
      justify-content: space-between;

      .inside_box_explore3{
        background: white;
        width: 31.7%;
        height: 100%;
        float: left;
        border-radius: 5px;
        box-shadow: 0px 5px 50px 2px lightgray;
        overflow: hidden;
        img{
          width: 100%;
        }
        .text_inside_box_explore3{
          width: 100%;
          height: 155px;
          border-bottom: 1px solid #EEEEEE;
          h3{
            text-transform: capitalize;
            font-weight: 600;
            font-size: 22px;
            margin-top: 20px;
          }
          p{
            font-size: 13.5px;
            color: #717171;
            padding: 0 40px;
            margin-top: 10px;
            line-height: 28px;
          }
        }
        a{
          display: inline-block;
          width: 100%;
          height: 58px;
          line-height: 58px;
          vertical-align: middle;
          color: #2DB19C;
          font-size: 12px;
          font-weight: 700;
          &:hover{
            background: #2DB19C;
            color: white;
          }
          i{
            margin-left: 10px;
            font-size: 11px;
          }
        }
      }
    }
    .circle_slider{
      height: 20px;
      width: 300px;
      margin: 25px auto;
      i:first-child{
        color: black;
        font-size: 13px;
      }
      i{
        display: inline-block;
        margin-left: 15px;
        color: #D9D9D9;
        font-size: 9px;
        cursor: pointer;
      }
    }
  }
  // fine_main2

  // main3
  .main3{
    width: 100%;
    height: 1035px;
    text-align: center;
    padding: 120px 0 97px;
    h2{
      @include sectionGreenTitle;
      margin-bottom: 15px;
    }
    p.subtitle{
      display: inline-block;
      width: 52.6%;
      margin: 0 auto;
      padding: 0 12px;
      color: #333434;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .box_explore4{
      width: 85.3%;
      height: 520px;
      margin: 10px auto;
      display: flex;
      justify-content: space-between;

      .inside_box_explore4{
        // background: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        width: 23.6%;
        height: 100%;
        float: left;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        &:hover .text_inside_box_explore4 .card_main3_on_hover{
          display: block;
        }
        &:hover .text_inside_box_explore4 span.hide,
        &:hover .text_inside_box_explore4 p.hide{
          display: none;
        }
        &:hover .text_inside_box_explore4{
          height: 73.5%;
        }
        img{
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;

        }
        .text_inside_box_explore4{
          background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
          width: 100%;
          height: 50%;
          padding: 125px 30px 30px;
          text-align: left;
          span, span.hide{
            font-size: 25px;
            font-weight: 700;
            color: #2DB19C;
            span, span.hide{
              font-size: 18px;
            }
          }
          p{
            font-size: 22px;
            font-weight: 700;
            color: white;
            margin-bottom: 20px;
          }
          i{
            color: white;
            margin-bottom: 15px;
            margin-right: 30px;
            span{
              color: white;
              font-size: 14px;
              font-weight: 500;
              margin-left: 10px;
            }
          }
          p.hover{
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 100px;
          }
          .card_main3_on_hover{
            display: none;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    p.end_main3{
      width: 32%;
      margin: 55px auto 0;
      color: #6F6F6F;
      font-weight: 500;
      a{
        color: black;
        font-weight: 700;
        text-decoration: underline;
        &:hover{
          color: #2DB19C;
        }
      }
    }
  }
  // fine_main3

  // main4
  .main4{
    background: #323043;
    width: 100%;
    height: 835px;
    position: relative;
    color: white;
    img:first-of-type{
      position: absolute;
      top: 0;
      right: 0;
    }
    img:nth-of-type(2){
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(39.2%, -10%);
    }

    .player{
      width: 34.9%;
      height: 450px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-114.8%, -48%);
      border-radius: 5px;
      overflow: hidden;
      img:first-of-type{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      img:last-of-type{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    .a_good_plan{
      width: 30%;
      height: 610px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(2.2%, -121%);
      h2{
        margin-top: -15px;
        margin-bottom: 50px;
        font-size: 45px;
        line-height: 50px;
      }
      h3{
        font-size: 25px;
        font-weight: 600;
      }
      h3:first-of-type{
        color: #2DB19C;
        margin-bottom: 20px;
      }
      i{
        margin-right: 20px;
        font-size: 25px;
        cursor: pointer;
      }
      p{
        margin-left: 45px;
        font-size: 14.5px;
        line-height: 30px;
      }
      p{
        margin-bottom: 20px;
      }
      h3:nth-of-type(2){
        // margin: 20px 0;
        padding: 20px 0;
        border-top: 2px solid #474556;
      }
      h3:last-of-type{
        padding: 20px 0;
        border-top: 2px solid #474556;
        border-bottom: 2px solid #474556;
      }
    }
  }
  // fine_main4

  // main5
  .main5{
    position: relative;
    width: 100%;
    height: 1075px;
    padding: 100px 0 97px;
    text-align: center;
    img{
      position: absolute;
      right: 0;
      bottom: 0;
      background: #F8F8F8;
      z-index: -1;
    }h2{
      @include sectionGreenTitle;
      margin-bottom: 15px;
    }
    p.subtitle{
      display: inline-block;
      width: 52.6%;
      margin: 0 auto;
      padding: 0 12px;
      color: #333434;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 60px;
    }
    .events_boxes{
      width: 61.5%;
      height: 560px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;

      .event{
        background: #F8F8F8;
        width: 48.6%;
        height: 170px;
        border-radius: 5px;
        padding: 30px;
        &:hover{
          background: white;
          border-left: 4px solid #2DB19C;
          box-shadow: 0px 5px 50px 2px lightgray;
        }
        &:hover .date_event button{
          background: #3F3A64;
          color: white;
        }

        .info_event{
          width: 73%;
          height: 100%;
          float: left;
          text-align: left;
          i{
            color: #7E7E7E;
          }
          span{
            color: #7E7E7E;
            font-size: 14px;
            margin-left: 7px;
          }
          p{
            font-weight: 600;
            font-size: 18px;
            color: #333333;
            margin-top: 10px;
          }
        }
        .date_event{
          width: calc(100% - 73%);
          height: 100%;
          float: right;
          span{
            display: block;
          }
          span:first-of-type{
            margin: -15px 0 15px;
            height: 40%;
            font-size: 50px;
            color: #2DB19C;
          }
          span:last-of-type{
            font-weight: 600;
            margin-bottom: 5px;
          }
          button{
            @include buttonGreen;
            width: 100%;
            height: 33px;
          }
        }
      }
    }
    p{
      margin-top: 60px;
      color: #696969;
      font-weight: 500;
      font-size: 17px;
      a{
        color: #2DB19C;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  // fine_main5

  // main6
  .main6{
    background: #F8F8F8;
    width: 100%;
    height: 830px;
    padding: 110px 0 97px;
    text-align: center;
    h2{
      @include sectionGreenTitle;
      margin-bottom: 15px;
    }
    p.subtitle{
      display: inline-block;
      width: 52.6%;
      margin: 0 auto;
      padding: 0 12px;
      color: #333434;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 60px;
    }

    .feed_section{
      width: 95.5%;
      height: 385px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .feed_box.opacity_testimonial{
        opacity: 0.5;
      }
      .feed_box{
        background: white;
        width: 31.3%;
        height: 385px;
        padding: 50px;
        border-radius: 5px;
        text-align: left;
        h4{
          font-size: 19px;
          font-weight: 600;
        }
        p{
          font-size: 17px;
          font-weight: 500;
          color: #818181;
          margin-top: 15px;
        }

        .student_id{
          width: 100%;
          height: 75px;
          margin-top: 40px;

          .student_img{
            width: 16%;
            height: 100%;
            float: left;
            display: flex;
            img{
              width: 100%;
              border-radius: 50%;
              align-self: center;
            }
          }
          .student_name{
            width: 84%;
            height: 100%;
            float: left;
            padding: 5px 20px;
            span{
              display: block;
            }
            span:first-of-type{
              font-weight: 600;
            }
            span:last-of-type{
              color: #888888;
              font-size: 13px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .circle_slider{
      height: 20px;
      width: 300px;
      margin: 35px auto;
      i:first-child{
        color: black;
        font-size: 13px;
      }
      i{
        display: inline-block;
        margin-left: 15px;
        color: #D9D9D9;
        font-size: 9px;
        cursor: pointer;
      }
    }
  }
  // fine_main6
}
